.nav-logo {
    width: 55px;
    height: 55px;
}

.docs-footer,
.pagination,
[class*="pagination"] {
  display: none !important;
}
.docs-footer__branding,
footer .powered-by {
  display: none !important;
}