{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.vile.bot"
    }
  ],
  "paths": {
    "/soundcloud/track": {
      "get": {
        "summary": "Track",
        "description": "Get SoundCloud track information",
        "operationId": "SoundcloudTrackTrack",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token for authentication",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["detail", "status_code"],
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "type": ["null", "object", "array"],
                      "additionalProperties": true
                    }
                  },
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/screenshot": {
      "post": {
        "summary": "Screenshot",
        "description": "Take a safe screenshot of a webpage",
        "operationId": "ScreenshotScreenshot",
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  }
}
